build/
out/
luajava.jar
*.so
*.dylib
*.dll
.DS_Store
err.txt
test_*.luabuild_ninja/
build/
out/
luajava.jar
*.class
build_ninja/
build/
out/
luajava.jar
*.class
native/lualib/patches/
test_fea.lua
test_lua.lua
*.class
